<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>proj01</title>
</head>

<body>
  <div id="app" class="container">

    <!-- <h2> {{ titulo }} </h2>
      <a v-bind:href="linkTeste">Lorem do link teste</a>
      <p :class="algumObjQq.nome">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas ligula eu quam dictum finibus. Duis sit amet iaculis augue. Nam scelerisque feugiat vehicula. Suspendisse pretium augue ut tellus tincidunt, vitae fermentum tellus commodo. Nulla rutrum ex a ante sagittis mattis. Aliquam porttitor tellus et justo vehicula, quis ullamcorper nisi finibus. Donec fringilla nibh in ex ultrices, eget varius urna consequat. Etiam facilisis mauris vitae velit pellentesque, a dignissim dolor efficitur. Duis euismod ligula ut semper tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ac ipsum augue. Duis at pretium libero.
      </p>

    <hr>
    <h1>classe time</h1>
    <h2> Nome: {{ time.nome }} </h2>
    <img :src="time.escudo" />

    <hr>
    <ul>
      <li v-for="time in times">
        <h2> Nome: {{ time.nome }} </h2>
        <img :src="time.escudo" />
      </li>
    </ul>

    <hr>
    <ul>
      <li v-for="(time, i) in times">
        <h2>{{ i }} -  Nome: {{ time.nome }} </h2>
        <img :src="time.escudo" />
      </li>
    </ul-->
    <br>
    <br>
    <br>
    <div class="row">
      <form class="form-inline">
        <div class="form-group">
          Gols - {{ novoJogo.casa.gols }}
          <input type="text" class="form-control" v-model="novoJogo.casa.gols">
          <label class="control-label">
            {{ novoJogo.casa.time.nome }}
            <img :src="novoJogo.casa.time.escudo" style="height: 30px; width: 30px;">
          </label>
        </div>
        <span>X</span>
        <div class="form-group">
          <label class="control-label">
            <img :src="novoJogo.fora.time.escudo" style="height: 30px; width: 30px;"> {{ novoJogo.fora.time.nome }}
          </label>
          Gols - {{ novoJogo.fora.gols }}
          <input type="text" class="form-control" v-model="novoJogo.fora.gols">
        </div>
        <button type="button" class="btn btn-primary" @click="fimJogo">Fim de jogo</button>
      </form>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Escudo</th>
              <th>Nome</th>
              <th>Pontos</th>
              <th>GM</th>
              <th>GS</th>
              <th>Saldo de gols</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="time in times">
              <td>
                <img class="img-thumbnail" :src="time.escudo" /> </td>
              <td> {{ time.nome }} </td>
              <td> {{ time.pontos }} </td>
              <td> {{ time.gm }} </td>
              <td> {{ time.gs }} </td>
              <td> {{ time | saldo }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- hr> vfor ainda
    <br> da p percorrer objetos

    <ul>
      <li v-for="(valor, atributo, index) in timeff">
        <h3>{{ index }} - {{ atributo }}: {{ valor }} </h3>
      </li>
    </ul>

    <hr>
    <h1>teste bootsrtap</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-2" style="background-color: blue;">aaaaaaaa</div>
        <div class="col-md-10" style="background-color: red;">ddddddddddd</div>
      </div>
    </div-->

  </div>
  <script src="/dist/build.js"></script>
</body>

</html>
